@charset "utf-8";

body {
  background: #637798;
  text-align: center;
  font-family: sans-serif; 
  margin: 0;
  padding: 0;
}

.hero {
  background: url("../images/SPF_20130216_DS7_5796-fade2.png") no-repeat center center;
  background-size: cover;
  height: 100vh; }
  .hero:before {
    content: '';
    position: absolute;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #637798);
    opacity: .8; }
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .hero h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center; }
  .hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }
/*  .hero .man-img {
    background: url("") no-repeat center center;
    background-size: cover;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto; }
*/
  @media only screen and (min-width: 40.063em) {
    .hero .man-img {
      height: 18rem;
      width: 18rem; }
    .hero h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem; }
    .hero p {
      text-align: right; } 
  }


h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  /* background: url("../images/middleman.png") no-repeat center 100px; */
  padding: 350px 0 10px;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
.doc:before,
.doc:after {
  opacity: .2;
  padding: 6px;
  font-style: normal;
  position: relative;
  content: "•"; }
.doc a {
  color: rgba(0, 0, 0, 0.3); }
.doc a:hover {
  color: #666; }

.top-header {
  background-color: #5f5f5f;
  color: #f1f1f1;
  height: 50px;
  padding: 5px 0 5px 0;
  line-height: 50px;
  overflow: hidden;
  opacity: .8;
}

.top-nav {
  background-color: #5f5f5f;
  color: #f1f1f1;
  height: 20px;
  padding: 2px 0 2px 0;
  line-height: 10px;
  overflow: hidden;
  opacity: .8;
}

a.nav-link:link {
    text-decoration: none;
    color: #f1f1f1;
}

a.nav-link:visited {
    text-decoration: none;
    color: #f1f1f1;
}

a.nav-link:hover {
    color: #1f1f1f;
    text-decoration: underline;
}

a.nav-link:active {
    color: #f1f1f1;
    text-decoration: underline;
}

.header-img {
  float: left;
}
.header-right {
  float: right;
  padding: 0 20px;
  letter-spacing: 4px;
  font-size: 20px;
}

.faq_question {
     float: left;
     font-weight: bold; 
     margin: 10px 0px 10px 10px;
}
.faq_answer {
    float: left;
    margin: 2px 20px 10px;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
}
50% {
  -webkit-transform: scale(0);
  opacity: 0;
}
82.5% {
  -webkit-transform: scale(1.03);
  -webkit-animation-timing-function: ease-out;
  opacity: 1;
}
to {
  -webkit-transform: scale(1);
}
}
