---
title: Financial Reports
date: '2013-01-25'
tags: ['financial','report']
---

%h3 Please click to view our financial reports

- Dir.glob('source/financial-reports/*.pdf').sort do |pdf|
  - parts = File.basename(pdf,".pdf").split(/-/)
  - report = File.basename(pdf)
  %br
    = link_to(parts.join(' '), "/financial-reports/#{report}")
