---
title: Tickets
date: '2017-10-19'
tags: []
---

<p>Frostburn endeavors to maintain low ticket prices to achieve the following
goals: keep the event accessible to as many people as possible and minimize
costs so as to maximize the funds which participants have spend on art projects
of their own.</p>

<p>Gate tickets are CASH only. Frostburn 2018 MAY have tickets at the gate.</p>


<p>Buy tickets via <a href="http://frostburn.bpt.me" title="Brown Paper Tickets:
Frostburn">Brown Paper Tickets</a>.</p>

<section title="Historical Ticket Prices" class="body-text"  style="text-align: left;">
A brief history of ticket prices for Frostburn.</br>
2015 - 2018: $50 No-change</br>
2014: $50 Increase: Venue/Vendor cost increase</br>  
2013: $35 Decrease: New Venue, fewer amenities, and site incentive/trial pricing</br>
2012: $45 No-change</br>
2011: $45 Increase: taxes</br>
2010: $40 Increase: pay-pal fees</br>
2009: $35 Baseline estimated from first year actual costs</br>
2008: First Year; Pay What You Can</br>
</section>
